<div class="mb-3 form-floating">

    <input [class.is-invalid]="control.touched && control.invalid" [type]="type()" [formControl]="control"
        class="form-control" placeholder={{label()}}>
    <label>{{label()}}</label>
    <div *ngIf="control.hasError('required')" class="invalid-feedback text-start">Please enter
        a {{label()}}</div>
    <div *ngIf="control.hasError('minlength')" class="invalid-feedback text-start">{{label()}}
        must be minimum with {{control.errors?.['minlength'].requiredLength}} characters</div>
    <div *ngIf="control.hasError('maxlength')" class="invalid-feedback text-start">{{label()}}
        must not be greater than {{control.errors?.['maxlength'].requiredLength}} characters</div>
        <div *ngIf="control.hasError('isMatching')" class="invalid-feedback text-start">
            Password and confirm password must be same</div>
</div>