<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (accountService.currentUser()) {
        <li class="nav-item">
          <a class="nav-link active" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li *appHasRole="['Admin','Moderator']" class="nav-item">
          <a class="nav-link active" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>

        }
        <li class="nav-item">
          <a class="nav-link active" routerLink="/errors" routerLinkActive="active">Errors</a>
        </li>
      </ul>

      @if (accountService.currentUser()) {
      <div dropdown class="dropdown">
        <img src="{{accountService.currentUser()?.photoUrl || '/assets/user.png'}}" class="me-3 thumbnail" alt="">
        <a dropdownToggle class="dropdown-toggle text-light" style="cursor: pointer">Welcome
          {{accountService.currentUser()?.knownAs}}</a>
        <div *dropdownMenu class="dropdown-menu">
          <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer">Logout</a>
        </div>
      </div>
      }
      @if (!accountService.currentUser()) {

      <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
        <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="userName"
          aria-label="userName">
        <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
          placeholder="Password" aria-label="Password">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
      }
    </div>
  </div>
</nav>